* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 16px monospace, monospace;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1.5rem;
    line-height: 1.2;
}

#game {
    image-rendering: pixelated;
    width: min(100%, 400px);
}